# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# Dotenv local files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# But do not ignore .env.example
!.env.example

# Android-specific
*.keystore
*.jks
*.apk
*.aar
*.jar
*.ap_
*.aab
/apps/zevo_app/android/key.properties
/apps/zevo_app/android/app/src/main/assets/

# iOS-specific
*.ipa
*.dSYM.zip
*.dSYM/

# Dart/Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
/apps/zevo_app/.flutter-plugins
/apps/zevo_app/.flutter-plugins-dependencies
/apps/zevo_app/ios/Pods/
/apps/zevo_app/ios/.symlinks/
/apps/zevo_app/ios/Flutter/Flutter.framework
/apps/zevo_app/ios/Flutter/Flutter.podspec
/apps/zevo_app/ios/Flutter/Generated.xcconfig
/apps/zevo_app/ios/Flutter/flutter_export_environment.sh

# Build directories
build/
/apps/zevo_app/build/

# Package-specific locks
pubspec.lock
/apps/zevo_app/pubspec.lock

# IDE-specific
.idea/
.vscode/
*.imap
*.launch
*.project
*.sublime-workspace
*.sublime-project
